PROJECT_NAME="Split It Fair"
API_V1_STR="/api/v1"

POSTGRES_SERVER="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="yourpassword"
POSTGRES_DB="split_it_fair"
POSTGRES_PORT=5432

SECRET_KEY="replace_with_a_secure_random__key"
ACCESS_TOKEN_EXPIRE_MINUTES=60
